body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

.blogs {
    height: 200vh;

}

.upper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.upper .sb{
    font-size: 1em; 
    background-color: #4b7bd0;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    margin: 3vh;
}

.heading {
    background-color: #1c3b70;


    text-align: center;

    padding: 10px 459px 10px 459px;
    color: #fff;
}

.upper a {
    text-decoration: none;
}

.blog {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.blog-info {
    height: 45vh;
    width: 30vw;
    margin: 15px 10px;
    box-shadow: 8px 9px 21px -2px hsla(0, 0%, 93%, .19);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 10px;
    box-sizing: border-box;
    background: #f9f9f9;
    transition: border 0.3s ease;
    border: 2px solid #e0e0e0;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.blog-info p {
    font-size: 20px;
    font-weight: 400;
    
}

.blog a {
    text-decoration: none;
    display: block;
}

.blog-info:hover {
    transition: 0.3s all ease;
    transform: scale(1.06);
}

@media (max-width:820px) {
    .blogs {
        height: auto;
        margin: 0 10px 30px 10px;
    }

    .heading {
        padding: 10px 20px;
        font-size: 1.5em;
        width: -webkit-fill-available;
    }

    .upper p,
    .upper a {
        font-size: 1em;
        text-align: center;
    }

    .blog {
        flex-direction: column;
        align-items: center;
    }

    .blog-info {
        width: 85vw;
        height: auto;
        margin: 10px 0;
        padding: 15px;
    }

    .blog-info p {
        font-size: 1em;
    }
}