body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 75px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 1.5em;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 15px;
}

nav ul li:hover {
    transition: 0.3s all ease;
    transform: scale(1.1);
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 1em;
}

.propose-idea {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
}

.banner {
    background-image: url(../images//Group1.jpg);
    background-size: cover;
   
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    
    text-align: center;
    background-repeat: no-repeat;
}

.banner-content {
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
}

.banner h1 {
    font-size: 2.5em;
    margin: 0;
}

.banner h2 {
    font-size: 2em;
    margin: 10px;
}

.why {
    margin: 100px 0px 10px 0px;
    text-align: center;
    font-size: 30px;
    animation: 0.3s ease-in-out;
    text-align: center;
    background-color: #4b7bd0;
}

.container {
    margin-bottom: 100px;
}

.grid-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}



.grid-item {

    box-sizing: border-box;
    background: #f9f9f9;
    transition: border 0.3s ease;
    margin: 20px;
    border: 2px solid #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    height: 35vh;
    width: 25vw;
}

.grid-item:hover {

    border-color: #4b7bd0;


}

.card-header,
.card-logo,
h3,
p {
    margin: 0;
    padding: 0;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.card-logo img {
    width: 50px;
    margin-right: 10px;
}

.card-header h3 {
    margin: 0;
    font-size: 1.2em;
}

.grid-item p {
    color: #666;
}



.activities{
    height: 110vh;
}

.activities h1 {
    text-align: center;
    background-color: #4b7bd0;

}

.slider {
    position: relative;
    width: 100%;
    height: 80vh;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 100%;
    height: 50%;
    object-fit: contain;
    border-radius: 10px;
}

.caption {
    position: absolute;
    bottom: 5px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.indicator {
    width: max-content;
    height: 10px;
    background-color: #ddd;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    background-color: #333;
}

footer {
    height: 100vh;
    background-color: #1c3b70;

}

.footer-container {
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
}

.footer-logo {
    width: max-content;
    margin: 70px 0px 0px 0px;
}

.rsps-logo img {
    width: 300px;
}

.footer-links {
    margin: 50px 0px 0px 0px;
    text-align: left;
}

.footer-links .links h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 100;
}

.footer-links .links a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    list-style: none;
}

.footer-links .links a :hover {
    color: #fff;


}

.Follow-us img {
    padding: 5px;
    width: 50px;
}

.footer-contact {
    margin-top: 50px;
    margin-left: -50px;
}

.footer-contact h3,
h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 100;
}

.footer-contact p {
    color: rgba(255, 255, 255, 0.7);
}

.footer-bottom {
    height: 20vh;
    background: transparent;
    display: grid;
    place-items: center;
    margin-top: -5px;
}

.footer-bottom h3,
h4 {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 100;
}

.footer-bottom p {
    color: rgba(255, 255, 255, 0.7);
}

.footer-bottom a {
    color: #fff;
    text-decoration: none;
}