body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 75px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 1.5em;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 15px;
}

nav ul li:hover {
    transition: 0.3s all ease;
    transform: scale(1.1);
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 1em;
}

.propose-idea {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
}

main {
    margin-top: -29px;
}

.container {
    height: max-content;
    background: #333;
    margin-top: 0;

}

.container h1 {
    text-align: center;
    color: #fff;
    padding-top: 20px;
}

.board {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    margin-top: 30px;
}

.board::-webkit-scrollbar {
    width: 0;

}

.persons {
    height: 80vh;
    width: 30vw;
    text-align: center;
    display: grid;
    place-items: center;
}

.persons .image img {
    width: 22vw;
    height: 60vh;
    border-radius: 5px;
}

.persons .info {
    height: max-content;
    width: 17vw;
    background-color: rgb(111, 111, 178);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 50px;
    border-radius: 5px;
    padding: 15px;
}

.persons h3 {
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
}

.persons p {
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: smaller;
}

.voulnteers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.volun-img {
    margin: 20px;
}

.volun-img img {
    width: 70vw;
    height: 70vh;
    margin: 20px;
}



footer{
    height: 100vh;
    background-color: #1c3b70;

}
.footer-container{
    height: 70vh;
    display: flex;
    justify-content:space-evenly;
}
.footer-logo{
    width: max-content;
    margin: 70px 0px 0px 0px;
}
.rsps-logo img{
    width: 300px;
}
.footer-links{
    margin: 50px 0px 0px 0px;
    text-align: left;
}
.footer-links .links h3{
    color: #fff;
    font-size: 20px;
    font-weight: 100;
}
.footer-links .links a{
    color:rgba(255, 255, 255, 0.7);
    text-decoration: none;
    list-style: none;
}
.footer-links .links a :hover{
    color: #fff;
    
    
}
.Follow-us img{
    padding: 5px;
    width: 50px;
}
.footer-contact{
    margin-top: 50px;
    margin-left: -50px;
}
.footer-contact h3,h4{
    color: #fff;
    font-size: 20px;
    font-weight: 100;
}
.footer-contact p{
    color: rgba(255, 255, 255, 0.7);
}
.footer-bottom{
    height: 20vh;
    background: transparent;
    display: grid;
    place-items: center;
    margin-top: -5px;
}
.footer-bottom h3,h4{
    color: rgba(255, 255, 255, 0.7);
    font-weight: 100;
}
.footer-bottom p{
    color: rgba(255, 255, 255, 0.7);
}
.footer-bottom a{
    color: #fff;
    text-decoration: none;
}