main {
    margin-top: -29px;
}

.container {
    height: max-content;
    background: #333;
    margin-top: 0;

}

.container h1 {
    text-align: center;
    color: #fff;
    padding-top: 20px;
}

.board {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    margin-top: 30px;
}

.board::-webkit-scrollbar {
    width: 0;

}

.persons {
    height: 80vh;
    width: 30vw;
    text-align: center;
    display: grid;
    place-items: center;
}

.persons .image img {
    width: 22vw;
    height: 60vh;
    border-radius: 5px;
}

.persons .info {
    height: max-content;
    width: 17vw;
    background-color: rgb(111, 111, 178);

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 50px;
    border-radius: 5px;
    padding: 15px;
}

.persons h3 {
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
}

.persons p {
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: smaller;
}

.voulnteers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.volun-img {
    margin: 20px;
}

.volun-img img {
    width: 70vw;
    height: 70vh;
    margin: 20px;
}